@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
    display: flex;
    justify-content: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
.container
{
    margin-top: 50px;
    height: 500px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(39, 126, 255);
    border-radius: 20px;

}

h1, h2, h3, p, a 
{
    color: white;
}